
@{
    ViewBag.Title = "Reflect";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<main>
    <section class="reflect">
        <div class="container">
            <div class="reflect-main">
                <h2 class="reflect-heading">Phản ánh thông tin về thiên tai</h2>
                <p class="reflect-sub">Thông tin về địa điểm phản ánh</p>
                <div class="reflect-form">
                    <div class="reflect-form-group">
                        <label for="">Huyện/thị xã</label>
                        <select name="" id="">
                            <option>Điện Bàn</option>
                            <option>text</option>
                        </select>
                    </div>
                    <div class="reflect-form-group">
                        <label for="">Phường/ Xã</label>
                        <select name="" id="">
                            <option>Điện Ngọc</option>
                            <option>Phường 2</option>
                        </select>
                    </div>
                    <div class="reflect-form-group">
                        <label for="">Thôn/bản/khu phố</label>
                        <input type="text" placeholder="nhập thôn/bản/khu phố" />
                    </div>
                    <div class="reflect-form-group">
                        <label for="">Địa chỉ cụ thể</label>
                        <div class="reflect-form-address">
                            <p>Địa chỉ tạm</p>
                            <button class="reflect-btn-map">Chọn vị trí</button>
                        </div>
                        <div class="reflect-map">
                            <div class="refect-map-content">
                                <i class="fa-solid fa-xmark reflect-map-iconClose"></i>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.684254869503!2d106.70676642475235!3d10.785086936675276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1547181657956"
                                        width="600"
                                        height="450"
                                        frameborder="0"
                                        style="border: 0"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="reflect-form-group">
                        <label for="">Phản ánh về</label>
                        <select name="" id="">
                            <option>Lũ lụt</option>
                            <option>Lũ lụt123</option>
                        </select>
                    </div>
                </div>
                @*<div class="reflect-title">
            <label>Tiêu đề:</label>
            <input type="text" placeholder="nhập nội dung tiêu đề" />
        </div>*@
                <div class="reflect-form-group">
                    <label for="">Tiêu đề:</label>
                    <input style="width:48.5%" type="text" placeholder="nhập nội dung tiêu đề" />
                </div>
                <div class="reflect-form-group">
                    <label for="">Mô tả:</label>
                    <input style="width:48.5%" type="text" placeholder="nhập mô tả" />
                </div>
                <div class="reflect-content">
                    <label for="">Nội dung</label>
                    <textarea placeholder="your content"></textarea>
                </div>
                <div class="reflect-upload">
                    <label for="">Hình Ảnh</label>
                    <input type="file" />
                </div>
                <button class="reflect-submit">Gửi phản ánh</button>
            </div>
        </div>
    </section>
    <script src="./reflect.js"></script>
    
</main>

