@{
    ViewBag.Title = "Index";
}

<main>
    <section class="baner">
        <div class="banner-slider">
            <div>
                <div class="baner-img">
                    <img src="~/Assets/Client/image/baner1.png" alt="">
                </div>
                <div class="container">
                    <div class="baner-content">
                        <h1 class="baner-title"> CỨU TRỢ COVID VÙNG TÂY NGUYÊN</h1>
                        <p class="baner-desc">
                            Nâng cao hiệu quả trong công tác quản lý, điều hành để đảm bảo tính minh bạch, kịp thời, công bằng, đúng
                            đối tượng trong hoạt động cứu trợ, thiện nguyện trên địa bàn tỉnh Quảng Trị
                        </p>
                        <button class="btn-seen">
                            Xem chi tiết thông tin
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="baner-img">
                    <img src="~/Assets/Client/image/baner2.jpg" alt="">
                </div>
                <div class="container">
                    <div class="baner-content">
                        <h1 class="baner-title"> CỨU TRỢ COVID VÙNG TÂY NGUYÊN</h1>
                        <p class="baner-desc">
                            Nâng cao hiệu quả trong công tác quản lý, điều hành để đảm bảo tính minh bạch, kịp thời, công bằng, đúng
                            đối tượng trong hoạt động cứu trợ, thiện nguyện trên địa bàn tỉnh Quảng Trị
                        </p>
                        <button class="btn-seen">
                            Xem chi tiết thông tin
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="baner-img">
                    <img src="~/Assets/Client/image/baner1.png" alt="">
                </div>
                <div class="container">
                    <div class="baner-content">
                        <h1 class="baner-title"> CỨU TRỢ COVID VÙNG TÂY NGUYÊN</h1>
                        <p class="baner-desc">
                            Nâng cao hiệu quả trong công tác quản lý, điều hành để đảm bảo tính minh bạch, kịp thời, công bằng, đúng
                            đối tượng trong hoạt động cứu trợ, thiện nguyện trên địa bàn tỉnh Quảng Trị
                        </p>
                        <button class="btn-seen">
                            Xem chi tiết thông tin
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="baner-img">
                    <img src="~/Assets/Client/image/baner1.png" alt="">
                </div>
                <div class="container">
                    <div class="baner-content">
                        <h1 class="baner-title"> CỨU TRỢ COVID VÙNG TÂY NGUYÊN</h1>
                        <p class="baner-desc">
                            Nâng cao hiệu quả trong công tác quản lý, điều hành để đảm bảo tính minh bạch, kịp thời, công bằng, đúng
                            đối tượng trong hoạt động cứu trợ, thiện nguyện trên địa bàn tỉnh Quảng Trị
                        </p>
                        <button class="btn-seen">
                            Xem chi tiết thông tin
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="us  ">
        <div class="container">
            <div class="us-main">
                <div class="us-logo" data-aos="fade-right" data-aos="fade-up" data-aos-duration="2500">
                    <img src="~/Assets/Client/image/logo_us.jpg" alt="">
                </div>
                <div class="us-content" data-aos="fade-left" data-aos-duration="2500">
                    <div>
                        <h3 class="us-heading ">
                            tìm hiểu về tổ chức
                        </h3>
                        <p class="us-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                    <div>
                        <a href="#" class="btn-readmore btn-us">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            read more
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="container">
            <div class="menu-main">
                <div class="menu-box" data-aos="fade-up" data-aos-duration="2000">
                    <h2 class="menu-heading">
                        chúng tôi cần
                    </h2>
                </div>

                <div class="menu-content" data-aos="zoom-in" data-aos-duration="2500">
                    <div class="menu-item">
                        <h4 class="menu-item-title">Công khai ủng hộ</h4>
                        <p class="menu-item-desc">Danh sách các cá nhân, doanh nghiệp, cơ quan, đơn vị ủng hộ.</p>
                        <button class="btn-more">Xem thêm</button>
                    </div>

                    <div class="menu-item">
                        <h4 class="menu-item-title">PHẢN ÁNH THIÊN TAI</h4>
                        <p class="menu-item-desc">Phản ánh những địa điểm xảy ra thiên tai trong khu vực</p>
                        <a href="details.html" class="btn-more">Xem thêm</a>
                    </div>

                    <div class="menu-item">
                        <h4 class="menu-item-title">ĐỀ XUẤT ĐỊA CHỈ CẦN HỖ TRỢ</h4>
                        <p class="menu-item-desc">Đề xuất những địa chỉ cần cứu trợ</p>
                        <p><br></p>
                        <a href="#" class="btn-more">Xem thêm</a>
                    </div>
                </div>


            </div>

    </section>
    <section class="relief">
        <div class="container">
            <div class="relief-main">
                <div class="relief-title" data-aos="fade-up" data-aos-duration="2000">
                    Đợt cứu trợ
                </div>
                <div class="relief-content" data-aos="zoom-in" data-aos-duration="2500">
                    <a class="relief-item">

                        <div class="relief-item-img">
                            <img src="~/Assets/Client/image/ll.jpg" alt="">
                        </div>
                        <p class="relief-name">Lũ lụt tại vùng cao Tây Nguyên</p>
                        <div class="relief-item-more">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button>Xem Thêm</button>
                        </div>
                    </a>
                    <a class="relief-item">

                        <div class="relief-item-img">
                            <img src="~/Assets/Client/image/saclo.jpg" alt="">
                        </div>
                        <p class="relief-name">LŨ LỤT TẠI THÔN TRẠI Cá</p>
                        <div class="relief-item-more">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button>xem them</button>
                        </div>
                    </a>
                    <a class="relief-item">

                        <div class="relief-item-img">
                            <img src="~/Assets/Client/image/lulut.jpg" alt="">
                        </div>
                        <p class="relief-name">
                            Sạc lỡ đất ở vùng Nam giang
                        </p>
                        <div class="relief-item-more">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button>xem them</button>
                        </div>
                    </a>
                    <a class="relief-item">

                        <div class="relief-item-img">
                            <img src="~/Assets/Client/image/ll.jpg" alt="">
                        </div>
                        <p class="relief-name">Lũ lụt ở Nghệ An </p>
                        <div class="relief-item-more">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <button>xem them</button>
                        </div>
                    </a>

                </div>
                <div class="event-area container">
                    <div class="event-grid-items">
                        <!-- Single Item  -->
                        <div class="item">
                            <div class="row">
                                <div class="thumb col-lg-5" style="background-image: url(/Assets/Client/image/event/1.jpg);">
                                    <div class="date">
                                        12 <strong>Aug</strong>
                                    </div>
                                </div>
                                <div class="info col-lg-7">
                                    <h4>
                                        <a href="#">Healty Food For Poor People</a>
                                    </h4>
                                    <p>
                                        Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible.
                                    </p>
                                    <ul class="date">
                                        <li>
                                            <i class="fas fa-clock"></i> 10:00 AM - 18:00 PM
                                        </li>
                                        <li>
                                            <i class="fas fa-calendar-alt"></i> 800 Loring Ave, Estancia
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item  -->
                        <!-- Single Item  -->
                        <div class="item">
                            <div class="row">
                                <div class="thumb col-lg-5" style="background-image: url(/Assets/Client/image/event/2.jpg);">
                                    <div class="date">
                                        05 <strong>Sep</strong>
                                    </div>
                                </div>
                                <div class="info col-lg-7">
                                    <h4>
                                        <a href="#">Water Facilities for People</a>
                                    </h4>
                                    <p>
                                        Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible.
                                    </p>
                                    <ul class="date">
                                        <li>
                                            <i class="fas fa-clock"></i> 08:30 AM - 17:045 PM
                                        </li>
                                        <li>
                                            <i class="fas fa-calendar-alt"></i> 800 Loring Ave, Estancia
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item  -->
                        <!-- Single Item  -->
                        <div class="item">
                            <div class="row">
                                <div class="thumb col-lg-5" style="background-image: url(/Assets/Client/image/event/3.jpg);">
                                    <div class="date">
                                        29 <strong>Dec</strong>
                                    </div>
                                </div>
                                <div class="info col-lg-7">
                                    <h4>
                                        <a href="#">Lifeskills for Children in South Africa</a>
                                    </h4>
                                    <p>
                                        Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible.
                                    </p>
                                    <ul class="date">
                                        <li>
                                            <i class="fas fa-clock"></i> 09:45 AM - 15:30 PM
                                        </li>
                                        <li>
                                            <i class="fas fa-calendar-alt"></i> 800 Loring Ave, Estancia
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="relief-bottom">
                            <a href="#" class="relief-bottom-more">
                                Xem thêm ....
                            </a>
                        </div>
                    </div>
                </div>
</section>
</main>