
@{
    ViewBag.Title = "Regstration_form";
}
<main>
    <section class="form-group">
        <div class="container">
            <div class="form-group-main">
                <h2>Tạo phiếu nhập</h2>
                <div class="form-group-top">
                    <div class="form-item">
                        <label for="">Cá nhân/tổ chức ủng hộ</label>
                        <input type="text" placeholder="Nhập tên công ty" />
                    </div>
                    <div class="form-item">
                        <label for="">Đợt cứu trợ</label>
                        <select>
                            <option>Công ty XXXX</option>
                            <option>Công ty XXXX</option>
                            <option>Công ty XXXX</option>
                        </select>
                    </div>

                    <div class="form-item">
                        <label for="">Số điện thoại</label>
                        <input type="text" placeholder="Your phone" />
                    </div>
                </div>
                <div class="form-group-content">
                    <h2>Chi tiết phiếu nhập</h2>
                    <div class="form-group-list">
                        <div class="form-group-col">
                            <p>Danh mục</p>
                            <select name="" id="">
                                <option>Lương thực</option>
                                <option>Lương thực</option>
                            </select>
                            <select name="" id="">
                                <option>Lương thực</option>
                                <option>Lương thực</option>
                            </select>
                            <select name="" id="">
                                <option>Lương thực</option>
                                <option>Lương thực</option>
                            </select>
                        </div>
                        <div class="form-group-col">
                            <p>Đợt cứu trợ</p>
                            <select name="" id="">
                                <option>Gạo</option>
                                <option>Gạo</option>
                            </select>
                            <select name="" id="">
                                <option>Mỳ tôm</option>
                                <option>Mỳ tôm</option>
                            </select>
                            <select name="" id="">
                                <option>xèng</option>
                                <option>xèng</option>
                            </select>
                        </div>
                        <div class="form-group-col">
                            <p>Số Lượng</p>
                            <input type="text" placeholder="Nhập vào  số lượng" />
                            <input type="text" placeholder="Nhập vào  số lượng" />
                            <input type="text" placeholder="Nhập vào  số lượng" />
                        </div>
                    </div>
                    <button class="form-group-add">Thêm</button>
                </div>
            </div>
            <button class="form-group-submit">Tạo phiếu nhập</button>
        </div>
    </section>

</main>

