* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
/* page list-succor */
.list-succor {
  display: flex;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.list-succor-img {
  width: 160px;

  object-fit: cover;
  margin-right: 10px;
}
.list-succor-info {
  display: block;
  width: 100%;
  height: 100%;
}
.list-succor-title {
  text-align: center;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0;
}
/* height của content phụ thuộc vào chiều cao của hình ảnh - chiều cao của title */
.list-succor-content {
  width: 100%;
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orangered;
}
.list-succor-desc {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 25px;
}
.list-succor-desc p {
  padding-top: 10px;
}
.list-succor-btn {
  width: 200px;
  height: 50px;
  margin-right: 200px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: green;
  cursor: pointer;
}
/* page details */
.detail-title {
  font-size: 20px;
}
