* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.main {
  display: flex;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin-right: 10px;
}
.main-info {
  display: block;
  width: 100%;
}
.main-title {
  text-align: center;
  background-color: green;
}
.main-contnet {
  display: flex;
  background-color: orangered;
}
