@{
    ViewBag.Title = "Toàn bộ sự kiện";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="breadcrumb-area text-center shadow dark bg-fixed padding-xl text-light" style="background-image: url(/Assets/Client/image/baner2.jpg); ">
        <div class="container">
            <div class="breadcrumb-items">
                <div class="row">
                    <div class="col-lg-12">
                        @*<h2>Latest Event</h2>*@
                    </div>
                </div>
            </div>
        </div>x
    </div>
    <div class="causes-single-area default-padding">
        <div class="container">
            <div class="causes-single-items">
                <div class="row">
                    <div class="col-lg-8 content">

                        <div class="info">
                            <img src="/Assets/Client/image/baner2.jpg" alt="Thumb">
                            <div class="top-entry">
                                <div class="date">
                                    <i class="fas fa-clock"></i> <strong>Ngày tạo : </strong> Jul 15, 2022
                                </div>
                                <div class="location">
                                    <i class="fas fa-map-marker-alt"></i> <strong>Địa chỉ : </strong>  Nam Trà My, Quảng Nam
                                </div>
                            </div>
                            <h4>Sạt lở bất ngờ ở huyện Nam Trà My</h4>
                            <p>
                                Một vụ sạt lở bất ngờ đã xảy ra khoảng 9 giờ ngày 24/10 ở thị trấn Tắc Pỏ, xã Trà Mai, huyện miền núi cao Nam Trà My, tỉnh Quảng Nam khiến ít nhất sáu ngôi nhà bị hư hỏng, rất may không có thiệt hại về người.
                                Một vụ sạt lở bất ngờ đã xảy ra khoảng 9 giờ ngày 24/10 ở thị trấn Tắc Pỏ, xã Trà Mai, huyện miền núi cao Nam Trà My, tỉnh Quảng Nam khiến ít nhất sáu ngôi nhà bị hư hỏng, rất may không có thiệt hại về người.
                                Một vụ sạt lở bất ngờ đã xảy ra khoảng 9 giờ ngày 24/10 ở thị trấn Tắc Pỏ, xã Trà Mai, huyện miền núi cao Nam Trà My, tỉnh Quảng Nam khiến ít nhất sáu ngôi nhà bị hư hỏng, rất may không có thiệt hại về người.
                                Một vụ sạt lở bất ngờ đã xảy ra khoảng 9 giờ ngày 24/10 ở thị trấn Tắc Pỏ, xã Trà Mai, huyện miền núi cao Nam Trà My, tỉnh Quảng Nam khiến ít nhất sáu ngôi nhà bị hư hỏng, rất may không có thiệt hại về người.

                            </p>
                            <a class="btn circle btn-theme border btn-md" href="#">Ủng Hộ Ngay</a>
                        </div>

                        <div class="comments">
                            <div class="comments-area">
                                <h4>MAP</h4>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3843.299862839108!2d108.46962691477138!3d15.575619589187577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3169dd3c1a52f7e9%3A0xe7c42aa59ec95f05!2zSOG7mWkgQ2jhu68gVGjhuq1wIMSQ4buPIFThu4luaCBRdeG6o25nIE5hbQ!5e0!3m2!1sen!2s!4v1655609870792!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                         </div>

                        </div>
                        <div class="col-lg-4 sidebar">
                            <aside>
                                <div class="item">
                                    <h4>Quyên Góp Gần Đây</h4>
                                    <div class="donator">
                                        <div class="thumb">
                                            <img src="/Assets/Client/image/teams/4.jpg" alt="Thumb">
                                        </div>
                                        <div class="info">
                                            <h5>$17</h5>
                                            <ul>
                                                <li><strong>Jonathom Doe</strong></li>
                                                <li>12 Minutes Ago</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="donator">
                                        <div class="thumb">
                                            <img src="/Assets/Client/image/teams/5.jpg" alt="Thumb">
                                        </div>
                                        <div class="info">
                                            <h5>$33</h5>
                                            <ul>
                                                <li><strong>Mohit Chuan</strong></li>
                                                <li>45 Minutes Ago</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="donator">
                                        <div class="thumb">
                                            <img src="/Assets/Client/image/teams/6.jpg" alt="Thumb">
                                        </div>
                                        <div class="info">
                                            <h5>$100</h5>
                                            <ul>
                                                <li><strong>Devid Mark</strong></li>
                                                <li>1 Hours Ago</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#">View All <i class="fas fa-angle-right"></i></a>
                                </div>
                            </aside>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</main>