@{
    ViewBag.Title = "Toàn bộ sự kiện";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="breadcrumb-area text-center shadow dark bg-fixed padding-xl text-light" style="background-image: url(/Assets/Client/image/baner2.jpg); ">
        <div class="container">
            <div class="breadcrumb-items">
                <div class="row">
                    <div class="col-lg-12">
                        @*<h2>Latest Event</h2>*@
                    </div>
                </div>
            </div>
        </div>x
    </div>
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6 info">
                <h5>Donate Today</h5>
                <h2 class="area-title">Donate today and get involved to save the world</h2>
                <p>
                    Drawings sir gay together landlord had law smallest. Formerly welcomed attended declared met say unlocked. Jennings outlived no dwelling denoting in peculiar as he believed. Behaviour excellent middleton be as it curiosity departure ourselves. For looking two cousins regular amongst.
                </p>
                <div class="question">
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="info">
                        <h5>Have any question about donation? </h5>
                        <span>Call Now: +123 3456789</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 donation-form">
                <div class="form-box">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Amount">Amount</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="Amount" placeholder="$129.00" required="">
                                        <span class="input-group-addon"><i class="fas fa-dollar-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="donateType">Frequency</label>
                                    <select id="donateType" class="form-control">
                                        <option value="once">Once</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="Fortnightly">Fortnightly</option>
                                        <option value="Monthly">Monthly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cardNumber">Card Number</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number" required="">
                                        <span class="input-group-addon"><i class="fas fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-8">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="expMonth">Expiration Date</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <input type="text" class="form-control" id="expMonth" placeholder="MM" required="" data-stripe="exp_month">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <input type="text" class="form-control" name="expYear" placeholder="YY" required="" data-stripe="exp_year">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-4 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">CV Code</label>
                                    <input type="password" class="form-control" id="cvCode" placeholder="CV" required="" data-stripe="cvc">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-theme effect btn-md" type="submit">Donate Now</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>