@using Models.EF;
@using Common.ViewModel;
@model ReliefViewModel
@{
    ViewBag.Title = "Reflect";
    var districts = ViewBag.District as IEnumerable<District>;
    var rc = ViewBag.RC as IEnumerable<Relief_classification>;
}

<section class="reflect">
    <div class="container">
        <div class="reflect-main">
            @if (ViewBag.result == 1)
            {
                <p class="alert alert-success">
                    Thêm phản ánh thành công!
                </p>
            }

            @if (ViewBag.result == 1)
            {
                <p class="alert alert-success">
                    Vui lòng nhập đầy đủ thông tin phản ánh!
                </p>
            }

            <form method="post" Content-Type="multipart/form-data">
                <h2 class="reflect-heading">Phản ánh thông tin về thiên tai</h2>
                <p class="reflect-sub">Thông tin về địa điểm phản ánh</p>
                <div class="reflect-form">
                    <div class="reflect-form-group">
                        <label for="">Quận/huyện</label>
                        <select name="DistrictId" onchange="selectDistric(this)" required>
                            <option>Chọn quận/huyện</option>
                            @if (districts != null && districts.Any())
                            {
                                foreach (var item in districts)
                                {
                                    <option value="@item.ID_district">@item.Name_district</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="reflect-form-group">
                        <label for="">Phường/ Xã</label>
                        <select name="WardId" id="wardId" required>
                            <option>Vui lòng chọn quận huyện</option>
                        </select>
                    </div>
                    <div class="reflect-form-group">
                        <label for="">Thôn/bản/khu phố</label>
                        <input type="text" name="Thon" placeholder="nhập thôn/bản/khu phố" />
                    </div>
                    @*<div class="reflect-form-group">
                    <label for="">Địa chỉ cụ thể</label>
                    <div class="reflect-form-address">
                        <p>Địa chỉ tạm</p>
                        <button class="reflect-btn-map">Chọn vị trí</button>
                    </div>
                    <div class="reflect-map">
                        <div class="refect-map-content">
                            <i class="fa-solid fa-xmark reflect-map-iconClose"></i>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.684254869503!2d106.70676642475235!3d10.785086936675276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1547181657956"
                                    width="600"
                                    height="450"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>*@
                    <div class="reflect-form-group">
                        <label for="">Phản ánh về</label>
                        <select name="RCId" id="">
                            <option>Chọn vấn đề phản ánh</option>
                            @if (rc != null && rc.Any())
                            {
                                foreach (var item in rc)
                                {
                                    <option value="@item.ID_rc">@item.Description</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="reflect-form-group">
                    <label for="">Tiêu đề:</label>
                    <input name="Title" style="width:48.5%" type="text" placeholder="nhập nội dung tiêu đề" />
                </div>
                <div class="reflect-form-group">
                    <label for="">Mô tả:</label>
                    <input name="Description" style="width:48.5%" type="text" placeholder="nhập mô tả" />
                </div>
                <div class="reflect-content">
                    <label for="">Nội dung</label>
                    <textarea name="Content" placeholder="your content"></textarea>
                </div>
                <div class="reflect-upload">
                    <label for="">Hình Ảnh</label>
                    <input type="file" name="fileImage" accept="image/*" />
                </div>
                <button class="reflect-submit" type="submit">Gửi phản ánh</button>
            </form>
        </div>
    </div>
</section>



@section scripts{

    <script>
        function selectDistric(item) {
            var districtId = item.value;
            $.ajax({
                type: 'get',
                url: '/Home/OptionWard',
                data: {
                    id: districtId
                },
                success: function (res) {
                    $("#wardId").html(res);
                }
            })
        }
    </script>

}