
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Trang chủ
}

<div class="form-group">
    <p> Nội dung trang quản trị</p>
    @*<b><i class="fa fa-home text-danger">&nbsp;</i><span class="text-danger">TRANG QUẢN TRỊ</span></b>*@
</div>


